.product h3{
    color: blueviolet;
    text-transform: capitalize;
}
.product{
    border: 1px solid grey;
display: inline-block;
border-radius: 5px;
padding:5px;
margin: 5px;
box-shadow: 5px 5px 5px grey;
}
.product label{
    display: block;
}
.product img{
    width: 200px;
}